@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@keyframes gradientBorder {
  from {
      border: 4px solid #3bc540;
  }
  to {
      border: 4px solid #b2ba4b;
  }
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }

  body {
    background-color: #333;
    display: flex;
    place-items: center;
    overscroll-behavior: none;
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    padding: 0 2rem;
  }
}
